<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="negar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="importExcelTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="importExcelTest.Properties.Settings.MaliConnectionString1"
            connectionString="Data Source=192.168.1.38;Initial Catalog=Mali;Persist Security Info=True;User ID=Xenups"
            providerName="System.Data.SqlClient" />
        <add name="importExcelTest.Properties.Settings.MaliConnectionString"
            connectionString="Data Source=PML-PC;Initial Catalog=Mali;Persist Security Info=True;User ID=Xenups;Password=Xenups1368"
            providerName="System.Data.SqlClient" />
        <add name="negar.Properties.Settings.MaliConnectionString1" connectionString="Data Source=192.168.1.38;Initial Catalog=Mali;Persist Security Info=True;User ID=Xenups"
            providerName="System.Data.SqlClient" />
        <add name="negar.Properties.Settings.MaliConnectionString" connectionString="Data Source=PML-PC;Initial Catalog=Mali;Persist Security Info=True;User ID=Xenups;Password=Xenups1368"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <negar.Properties.Settings>
            <setting name="LastUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerDataSource" serializeAs="String">
                <value />
            </setting>
            <setting name="dbUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="dbName" serializeAs="String">
                <value />
            </setting>
            <setting name="cityName" serializeAs="String">
                <value />
            </setting>
            <setting name="cityID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainConnectionString" serializeAs="String">
                <value>Data Source=192.168.110.100;Initial Catalog=Mali;Persist Security Info=True;User ID=Xenups;Password=Xenups1368;Connect Timeout=5</value>
            </setting>
            <setting name="dgvColor" serializeAs="String">
                <value>DarkSeaGreen</value>
            </setting>
            <setting name="permission" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pageSize" serializeAs="String">
                <value>40</value>
            </setting>
        </negar.Properties.Settings>
        <importExcelTest.Properties.Settings>
            <setting name="LastUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerDataSource" serializeAs="String">
                <value />
            </setting>
            <setting name="dbUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="dbName" serializeAs="String">
                <value />
            </setting>
            <setting name="cityName" serializeAs="String">
                <value />
            </setting>
            <setting name="cityID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainConnectionString" serializeAs="String">
                <value>Data Source=192.168.110.100;Initial Catalog=Mali;Persist Security Info=True;User ID=Xenups;Password=Xenups1368;Connect Timeout=5</value>
            </setting>
            <setting name="dgvColor" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="permission" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pageSize" serializeAs="String">
                <value>40</value>
            </setting>
        </importExcelTest.Properties.Settings>
    </userSettings>
</configuration>